<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1tggYqAnPj7eZd9FH9MrUSu6qknhJyRk</string>
	<key>GCM_SENDER_ID</key>
	<string>345205985119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appRentalMobil</string>
	<key>PROJECT_ID</key>
	<string>app-rental-mobil-3e0ea</string>
	<key>STORAGE_BUCKET</key>
	<string>app-rental-mobil-3e0ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345205985119:ios:c86a824af04a12a2d1b0ea</string>
</dict>
</plist>